@model SecurityTesting.Models.SecretModel
<style>
    table {border: 3px solid black;}
    th, td{ border: 1px solid black; width:25%;}
    thead{font: bold;}
</style>
<hr />
Secrets Model
<hr />
<table>
    <thead>
        <tr>
            <td>
                Property Name
            </td>
            <td>
                Property Value
            </td>
        </tr>
    </thead>
    <tbody>
        <tr><td>ChainValue1</td>                <td>@Model.ChainedValue1</td></tr>
        <tr><td>AppSettingValue2</td>           <td>@Model.AppSettingValue2</td></tr>
        <tr><td>AppEnviromentValue3</td>        <td>@Model.AppEnviromentValue3</td></tr>
        <tr><td>AppSecretValue4</td>            <td>@Model.AppSecretValue4</td></tr>
        <tr><td>EnviromentValue5</td>           <td>@Model.EnviromentValue5</td></tr>
        <tr><td>CommandLineValue6</td>          <td>@Model.CommandLineValue6</td></tr>
        <tr><td>MyCustomProvider7</td>          <td>@Model.MyCustomProvider7</td></tr>
        <tr><td>Zero</td>                       <td>@Model.Zero</td></tr>
        <tr><td>One</td>                        <td>@Model.One</td></tr>
        <tr><td>Two</td>                        <td>@Model.Two</td></tr>
        <tr><td>Three</td>                      <td>@Model.Three</td></tr>
        <tr><td>Four</td>                       <td>@Model.Four</td></tr>
        <tr><td>Five</td>                       <td>@Model.Five</td></tr>
        <tr><td>Six</td>                        <td>@Model.Six</td></tr>
        <tr><td>Seven</td>                      <td>@Model.Seven</td></tr>
    </tbody>
</table>

<hr />

<table>
    <thead>     
        <tr>    
            <td>Key</td>    
            <td>Value</td>      
            <td>Property Value</td>     
        </tr>   
    </thead>
    <tbody>
        @foreach(var c in Model.configRoot.GetChildren())
        {
            <tr>
                <td>@c.Key</td>
                <td>@c.Value</td>
                <td>@c.GetChildren().Count()</td>
            </tr>
        }
    </tbody>
</table>









@*using Microsoft.AspNetCore.Mvc;

namespace SecurityTesting.Views.Secrets
{
    public class Index : Controller
    {
        public IActionResult Index()
        {
            return View(


                        @model SecurityTesting.Models.SecretModel
                        @{
                            <style>
                                table {border: 3px solid black;}
                                th, td{ border: 1px solid black; width:25%;}
                                thead{font: bold;}
                            </style>
                            <hr />
                            <h1>Secrets Model</h1>
                            <hr />
                            <table>
                                <thead>
                                    <tr>
                                        Property Name
                                        <td>
                                            Property Value
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr><td>ChainValue1</td>  <td>@Model.ChainedValue1</td></tr>
                                    <tr><td>ChainValue1</td>  <td>@Model.AppSettingValue2</td></tr>
                                    <tr><td>ChainValue1</td>  <td>@Model.AppEnviromentValue3</td></tr>
                                    <tr><td>ChainValue1</td>  <td>@Model.AppSecretValue4</td></tr>
                                    <tr><td>ChainValue1</td>  <td>@Model.EnviromentValue5</td></tr>
                                    <tr><td>ChainValue1</td>  <td>@Model.CommandLineValue6</td></tr>
                                    <tr><td>ChainValue1</td>  <td>@Model.MyCustomProvider7</td></tr>
                                    <tr><td>ChainValue1</td>  <td>@Model.Zero</td></tr>
                                    <tr><td>ChainValue1</td>  <td>@Model.One</td></tr>
                                    <tr><td>ChainValue1</td>  <td>@Model.Two</td></tr>
                                    <tr><td>ChainValue1</td>  <td>@Model.Three</td></tr>
                                    <tr><td>ChainValue1</td>  <td>@Model.Four</td></tr>
                                    <tr><td>ChainValue1</td>  <td>@Model.Five</td></tr>
                                    <tr><td>ChainValue1</td>  <td>@Model.Six</td></tr>
                                    <tr><td>ChainValue1</td>  <td>@Model.Seven</td></tr>
                                </tbody>
                            </table>

                            <hr />

                            <table>
                                <thead>     
                                    <tr>    
                                        <td>Key</td>    
                                        <td>Value</td>      
                                        <td>Property Value</td>     
                                    </tr>   
                                </thead>
                                <tbody>
                                    @foreach(var c in Model.configRoot.GetChildren())
                                    {
                                        <tr>
                                            <td>@c.Key</td>
                                            <td>@c.Value</td>
                                            <td>@c.GetChildren().Count()</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        }            
            
            );
        }
    }
}*@
