@model L06HandsOnDB.Alien

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Alien</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Arms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Arms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Heads)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Heads)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Legs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Legs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanetOfOrigin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanetOfOrigin)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
